<div class="hotel_photo_gallery">
  <div class="gallery_images">
    <img src="<%= asset_path 'gallery/1.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/2.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/3.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/4.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/5.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/6.jpg'%>"  height="300px" width="970px"/>
    <img src="<%= asset_path 'gallery/7.jpg'%>"  height="300px" width="970px"/>
  </div>
  <!-- <div class="next_icon"></div> -->
  <!-- <div class="prev_icon"></div> -->

  <div class="bottom_description gallery_description">Wow we work together and we live together</div>
</div>
