<div class="hotel_photo_gallery">
  <div class="gallery_images">
    <img src="<%= asset_path 'gallery/1.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/2.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/3.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/4.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/5.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/6.jpg'%>"  height="370px" width="970px"/>
    <img src="<%= asset_path 'gallery/7.jpg'%>"  height="370px" width="970px"/>
  </div>
  <!-- <div class="next_icon"></div> -->
  <!-- <div class="prev_icon"></div> -->

  <div class="bottom_description gallery_description">This is how we welcome you</div>
</div>

<div class="description_title">
  Overview -
</div>

<div class="home_description">
  We are a group of reputed, well established hotels in existance since past 10 years offering you quality service in Pune. We are situated in the heart of Pune viz. Kalyani Nagar, Koregaon Park and we provide the best in class service in very low price. Please check our price listing for more information.
</div>

<div class="home_page_booking">
  <div class="booking_title">
    BOOK NOW
  </div>
  <div class="booking_tagline">
    ...and get attractive discounts
  </div>

</div>

<div class="home_page_booking">
  <div class="booking_title">
    Redeem this coupon
  </div>
  <div class="booking_tagline">
    ...and get attractive discounts
  </div>

</div>
<div class="home_page_booking">
  <div class="booking_title">
    Monsoon season starting
  </div>
  <div class="booking_tagline">
    ...and get attractive discounts
  </div>

</div>
